<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <h1>WELCOME TO ANIMALS APP!</h1>
      <div>
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
    </main>
  </body>
</html>